@import url("reset.css");

@import url("module.css");

/*====================== 結帳進度條 ======================*/
.step{
    margin-top: 120px;
}

.step ul{
    /* background-color: rgb(228, 226, 226); */
    display: flex;
    justify-content: space-between;
    color: #26bec9;
    padding: 0 58px;
    
}

.step li{
    width: 33.3%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step span{
    display: block;
    width: 20px;
    height: 20px;
    background-color: #26bec9;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: #fff;

}

.step p{
    padding: 15px 0 20px;
    font-size: 1.6rem;
}

.bar{
    background-color: rgba(19, 106, 112, 0.2);
    width: 100%;
    height: 5px;
}

.focus{
    background-color: #26bec9;
    width: 100%;
    height: 5px;
}


/* 外層 */
.outer{
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width:768px){
    .outer{
        display: block;
    }
}

/* 左側資料 */
.left{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 30px 30px;
}

@media screen and (max-width:768px){
    .left{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px){
    .left{
        width: 420px;
    }
}

@media screen and (min-width: 992px){
    .left{
        width: 640px;
    }
}

@media screen and (min-width: 1200px){
    .left{
        width: 780px;
    }
}

.forms{
    display: flex;
    justify-content: space-between;
    
}

.form_group{
    margin-bottom: 20px;
}

.forms .form_group{
    width: 49%;
}

.form_group label{
    display: block;
    padding: 5px 0;
}

.form_group input{
    width: 100%;
    height: 35px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 4px;
}

select{
    width: 100%;
    height: 35px;
}

.back{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

a.btn{
    /* display: inline-block; */
    border-radius: 4px;
    padding: 6px 12px;
    background-color: #26bec9;
    color: #fff;
    transition: all .5s;
}

a.btn:hover{
    background-color: hsl(184, 68%, 40%);
}

.back_btn{
    color: #26bec9;
}

.back_btn:hover{
    color: hsl(184, 68%, 40%);
}


/* 右側明細 */
.right{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 16px;
}

@media screen and (min-width: 768px){
    .right{
        width: 280px;  
    }
}

@media screen and (min-width: 992px){
    .right{
        width: 280px;  
    }
}

@media screen and (min-width: 1200px){
    .right{
        width: 370px;  
    }
}

.product{
    display: flex;
    margin-bottom: 16px;
}

.product img{
    height: 60px;
    width: 106px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
}

.product_info{}

.right p{
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 700;
}

p.title{
    margin-bottom: 5px;
}

p.total{
    color: #26bec9;
    letter-spacing: 0;
}

.product_info p:nth-child(2){
    font-size: 1.4rem;
    font-weight: 400;
}

.totalprice{
    border-top: 1px dashed #ddd;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

