*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    line-height: 1.6;
    font-family: 'Noto Sans TC','微软雅黑','Microsoft YaHei',sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    background-color: #fff;
    color: #333;
    letter-spacing: .15rem;
    
}

a{
    color: #333;
    text-decoration: none;
}

.container{
    margin: 0 auto;
    /* width: 1200px; */
    padding: 0 15px;
}

/* 要由小寫到大 */
@media screen and (min-width: 768px){
    .container {
        width: 750px;
    }
}

@media screen and (min-width: 992px){
    .container {
        width: 970px;
    }
}

@media screen and (min-width: 1200px){
    .container {
        width: 1200px;
    }
}



/*====================== 上層選單 ======================*/

nav{
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    /* position: fixed 會使.top寬度最大變最小  */
    position: fixed;
    left: 0;
    top: 0;
    /* width: 100%; 把寬度加回來 */
    width: 100%;
    z-index: 999;
    
}


.navbar{
    display: flex;
    justify-content: space-between;
    height: 60px;
    /* outline: 1px solid green; */
}

.navbar > a{
    /* outline: 1px solid red; */
    display: flex;
    align-items: center;
    
}

.navbar img{
   height: 40px;
}


.navbar ul{
    /* border:  1px solid ; */
    display: flex;
    align-items: center;
}

.navbar li{
    position: relative;
}

.navbar li a{
    display: block;
    font-weight: bold;
    padding: 19px 18px;
}

.navbar li:hover a{
    color: #26bec9;
}

/* hover底線 */
.navbar li:hover::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #26bec9;
    position: absolute;
    left: 0;
    bottom: 0;

}


/* 分隔線 */
.navbar li:not(:last-child)::before{
    content: "";
    display: block;
    width: 1px;
    height: 15px;
    background-color: #acacac;
    position: absolute;

    /* 垂直置中向右 */
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* 漢堡選單 */
.navbar .hamBar{
    display: none;
    justify-content: center;
    width: 40px;
    height: 60px;
}
/* 當螢幕小於768px時 */
@media screen and (max-width:768px){
    .navbar ul{
        display: none;
        background-color: rgb(236, 236, 236, .9);
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(100%);
    }
    
    .navbar li{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }

    .navbar li:not(:last-child)::before{
        display: none;
    }

    .navbar li:hover a{
        background-color: rgb(247, 247, 247, .9);
    }

    .navbar li:hover::after{
        display: none;
    }

    .navbar .hamBar{
        display: flex;
    }
}
/*====================== footer ======================*/

footer{
    background-color: #2a2a2e;
    margin-top: 100px;
}

.footer p{
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(155, 155, 155);
    margin-bottom: 10px;
    letter-spacing: .5px;
}

.footer ul a{
    color: #f4f4f4;
    font-weight: 400;
    transition: all .25s;
    letter-spacing: .5px;
}

.footer ul a:hover{
    opacity: .5;
}

.footer > ul{
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0 64px 0;
    border-bottom: 1px solid rgb(83, 83, 83);
}


.copyright{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.copyright p{
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: 0;
}

.copyright ul{
    display: flex;
}


.copyright a{
    padding: 0 8px;
}

.copyright i{
    font-size: 1.4rem;
}

@media screen and (max-width:768px){
    footer{
        margin-top: 60px;
    }
    .footer p{
        font-size: 1.4rem;
    }
    .footer ul a{
        font-size: 1.2rem;
    }
    .copyright p{
        font-size: 1.2rem;
    }
    .copyright i{
        font-size: 1.2rem;
    }

}