@import url("reset.css");

@import url("module.css");


/*====================== 大圖banner ======================*/

.banner{
    background-image: url("https://cdn.kkday.com/pc-web/assets/img/home_banner/5.jpg");
    height: 334px;
    background-size: cover;
    background-position: 50%;
    /* 因為選單fixed,要往後推 */
    margin-top: 60px;
    margin-bottom: 60px;
}

.banner_article{
    height: 100%;
    display: flex;
    align-items: center;
}

.banner_inner{
    text-align: left;
    color: rgb(85, 85, 85);
}

.banner_inner h1{
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 1.8;
    text-shadow: 0 5px 15px rgb(51 51 51 / 20%);
    letter-spacing: .3rem;
    margin-bottom: 5px;
}

.banner_inner h5{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
    text-shadow: 0 5px 15px rgb(51 51 51 / 20%);
    letter-spacing: .2rem;
    margin-bottom: 26px;
}

.banner_btn{
    display: inline-block;
    width: 100px;
    height: 40px;
    font-weight: 600;
    background-color: #fff;
    line-height: 40px;
    border-radius: 55px;
    font-size: 1.6rem;
    text-align: center;
    transition: all .5s;
}

.banner_btn:hover{
    box-shadow: 0px 5px 8px rgb(51 51 51 / 20%);
}

@media screen and (max-width: 768px){
    .banner{
        height: 200px;
        margin-bottom: 32px;
    }
    .banner_inner h1{
        color: rgb(253, 253, 253);
        text-shadow: 0 2px 8px rgb(51 51 51 / 30%);
        font-size: 2.4rem;
    }
    .banner_inner h5{
        color: rgb(253, 253, 253);
        font-size: 1.4rem;
        text-shadow: 0px 2px 8px rgb(51 51 51 / 30%);
    }
    .banner_btn{
       display: none;
    }

}

/*====================== 活動分類 ======================*/

.act_category{
}

h2{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 30px;

}

.act_category h3{
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    /* 座標定位 水平垂直置中 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

.act_category .owl-carousel{}


.act_category .item{
    position: relative;
}

.act_category a{
    display: block;
}

.act_category img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    filter: brightness(.9);
    transition: all .5s;
}

.act_category img:hover{
    opacity: .8;
    filter: brightness(1);
}

/* 方向鍵 */
.owl-carousel.owl-theme .owl-nav button{
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255,.9);
    border-radius: 50%;
    box-shadow: 0 3px 15px rgb(0 0 0 / 15%);
    position: absolute;
    top: 30%;
}

.owl-carousel.owl-theme .owl-nav button:hover{
    background-color: rgba(212, 212, 212, 0.9);
    color: #fff;
}

button.owl-prev{
    left: -20px;
}

button.owl-next{
    right: -20px;
}


.owl-carousel .owl-nav i{
    font-size: 24px;
    line-height: 40px;
}

@media screen and (max-width: 768px){
    h2{
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .act_category h3{
        font-size: 1.4rem;
    }

    .owl-theme .owl-dots .owl-dot span{
        width: 8px;    
        height: 8px;
    }

    .act_category .owl-theme .owl-nav{
        display: none;
    }

    .owl-theme .owl-dots{
        margin-top: 8px;
    }

}
/*====================== 近期推薦 ======================*/


.container.act_ad{
    margin-top: 60px;
}

.act_ad img{
    width: 100%;
}

/* 插件輪播圖 */
.owl-carousel{
    position: relative;
}

.owl-carousel.act_ad .item{
    border-radius: 6px;
    overflow: hidden;
}

/* 方向鍵 */
.owl-carousel.owl-theme .owl-nav button{
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255,.9);
    border-radius: 50%;
    box-shadow: 0 3px 15px rgb(0 0 0 / 15%);
    position: absolute;
    top: 30%;
}

.owl-carousel.owl-theme .owl-nav button:hover{
    background-color: rgba(212, 212, 212, 0.9);
    color: #fff;
}

button.owl-prev{
    left: -20px;
}

button.owl-next{
    right: -20px;
}


.owl-carousel .owl-nav i{
    font-size: 24px;
    line-height: 40px;
}

@media screen and (max-width: 768px){
    .container.act_ad{
        margin-top: 32px;
    }
   
    .owl-carousel.owl-theme .owl-nav button{
        display: none;
    }
    
}





/*====================== 想去哪裡玩 ======================*/

.act_area{
    margin-top: 60px;
}

.act_area ul{
    display: flex;
    height: 330px;
    justify-content: space-between;
}

.act_area li{
    background-size: cover;
    background-position: 50%;
    transition: .5s; 
    border-radius: 6px;
    flex-grow: 1;
    
}

.act_area li:not(:last-child){
    margin-right: 20px;
}


.act_area .area1{
    background-image: url("https://image.kkday.com/v2/image/get/w_628%2Ch_472%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/campaign_863/20191219025154_amcag/jpg");
    flex-grow: 1;
}

.act_area .area2{
    background-image: url("https://image.kkday.com/v2/image/get/w_628%2Ch_472%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/campaign_1345/20210422064112_MCmWw/jpg");
    flex-grow: 1;
}

.act_area .area3{
    background-image: url("https://image.kkday.com/v2/image/get/w_628%2Ch_472%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/campaign_863/20191218101443_PtbPO/jpg");
    flex-grow: 1;
}

.act_area .area4{
    background-image: url("https://image.kkday.com/v2/image/get/w_628%2Ch_472%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/campaign_1345/20210422100733_QrLfQ/jpg");
    flex-grow: 1;
}

.act_area .area5{
    background-image: url("https://image.kkday.com/v2/image/get/w_628%2Ch_472%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/campaign_1345/20210426065849_WTWIk/jpg");
    flex-grow: 1;
}


.act_area li:hover{
    flex-grow: 3;
}

.act_area a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.act_area h4{
    font-size: 2.2rem;
    font-weight: 700;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 15px 10px;
    z-index: 1;
}

.act_area .overlap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all .8s;
    background-image:linear-gradient(transparent 60%,rgba(0,0,0,.85));
    border-radius: 6px;
    
}

.act_area .overlap:hover{
    background-color: #fff;
    opacity: .1;
    background-image:linear-gradient(transparent 60%,rgba(255, 255, 255, 0.2));
}

@media screen and (max-width: 768px){
    .act_area{
        margin-top: 32px;
    }
    .act_area h4{
        font-size: 1.4rem;
    }
    .act_area ul{
        height: 130px;
        overflow: auto;
    }
    .act_area li{
        background-size: cover;
        background-position: 50%;
        transition: .5s; 
        border-radius: 6px;
        width: 130px;
        height: 130px;
        flex-shrink: 0;
    }
    .act_area li:not(:last-child){
        margin-right: 10px;
    }


}

/*====================== 熱門商品 ======================*/

.container.act_rank{
    margin-top: 60px;
}
.act_rank h2{}

.act_rank .owl-carousel{}


.act_rank a{
    display: block;
}

.product_img{
    display: block;
    /* 先把img框出固定長寬,設定圖片在裡面填滿 */
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: center center;
    border-radius: 6px 6px 0 0;

    filter: brightness(.9);
    transition: all .5s;

}

.act_rank .item:hover .product_img{
    opacity: .8;
    filter: brightness(1);
}


.product_detail{
    padding: 4px 10px 15px 10px;
    border-radius: 0 0 6px 6px;
    border: 1px solid rgb(212, 212, 212);
}

.product_detail h3{
    font-size: 1.6rem;
    padding-left: 5px;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
    letter-spacing: .15rem;
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}

.product_detail .product_place{
    color: #666;
    font-size: 1.2rem;
}

.product_place i{
    width: 20px;
    color: #ccc;
    text-align: center;
    font-size: 1.2rem;
    margin-right: 2px;
}


.product_detail .product_footer{
    display: flex;
    justify-content: space-between;
}

.product_footer .product_star{
    font-size: 1.2rem;
    color: #999;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.product_star i{
    width: 20px;
    text-align: center;
    color: #26bec9;
    margin-right: 2px;
}

.product_footer .product_price{}

.product_price h4{
    font-size: 1.8rem;
    font-weight: bold;
}


@media screen and (max-width: 768px){
    .container.act_rank{
        margin-top: 32px;
    }

    .product_img{
        height: 100px;
    }

    .product_detail h3{
        font-size: 1.6rem;
        padding-left: 5px;
        font-weight: 500;
        color: #333;
        margin-bottom: 10px;
        letter-spacing: .1rem;
        overflow: hidden;
        /* white-space: nowrap; */
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    
    }
    
    .product_detail .product_footer{
        display: block;
    }
    
    .product_footer .product_star{
        margin-bottom: 8px;
    }
    
    .product_price h4{
        font-size: 1.6rem;
        padding-left: 5px;
        letter-spacing: 0;
    }

}