@import url("reset.css");

*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    line-height: 1.6;
    font-family: 'Noto Sans TC','微软雅黑','Microsoft YaHei',sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    background-color: #fff;
    color: #333;
    letter-spacing: .15rem;
    
}

a{
    color: #333;
    text-decoration: none;
}

.container{
    /* outline: 1px solid red; */
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
}


/*====================== 上層選單 ======================*/

nav{
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    /* position: fixed 會使.top寬度最大變最小  */
    position: fixed;
    left: 0;
    top: 0;
    /* width: 100%; 把寬度加回來 */
    width: 100%;
    z-index: 999;
    
}


.navbar{
    display: flex;
    justify-content: space-between;
    height: 60px;
    /* outline: 1px solid green; */
}

.navbar > a{
    /* outline: 1px solid red; */
    display: flex;
    align-items: center;
    
}

.navbar img{
   height: 40px;
}


.navbar ul{
    /* border:  1px solid ; */
    display: flex;
    align-items: center;
}

.navbar li{
    padding: 19px 0;
    position: relative;
}

.navbar li a{
    display: block;
    font-weight: bold;
    padding: 0 18px;
}

.navbar li:hover a{
    color: #26bec9;
}

/* hover底線 */
.navbar li:hover::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #26bec9;
    position: absolute;
    left: 0;
    bottom: 0;

}


/* 分隔線 */
.navbar li:not(:last-child)::before{
    content: "";
    display: block;
    width: 1px;
    height: 15px;
    background-color: #acacac;
    position: absolute;

    /* 垂直置中向右 */
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/*====================== 大圖banner ======================*/

.banner{
    background-image: url("https://cdn.kkday.com/pc-web/assets/img/home_banner/5.jpg");
    height: 334px;
    background-size: cover;
    background-position: 50%;
    /* 因為選單fixed,要往後推 */
    margin-top: 60px;
    margin-bottom: 60px;
}

.banner_article{
    height: 100%;
    display: flex;
    align-items: center;
}

.banner_inner{
    text-align: left;
    color: rgb(85, 85, 85);
}

.banner_inner h1{
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 1.8;
    text-shadow: 0 5px 15px rgb(51 51 51 / 20%);
    letter-spacing: .3rem;
    margin-bottom: 5px;
}

.banner_inner h5{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
    text-shadow: 0 5px 15px rgb(51 51 51 / 20%);
    letter-spacing: .2rem;
    margin-bottom: 26px;
}

.banner_btn{
    display: inline-block;
    width: 100px;
    height: 40px;
    font-weight: 600;
    background-color: #fff;
    line-height: 40px;
    border-radius: 55px;
    font-size: 1.6rem;
    text-align: center;
    transition: all .5s;
}

.banner_btn:hover{
    box-shadow: 0px 5px 8px rgb(51 51 51 / 20%);
}

/*====================== 活動分類 ======================*/

.act_category{
    /* outline: 1px solid; */
}

h2{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 30px;

}

.act_category h3{
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    /* 座標定位 水平垂直置中 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

.act_category ul{
    display: flex;
    justify-content: space-between;
}

.act_category li{
}

.act_category a{
    /* border: 1px solid blue; */
    display: block;
    /* 先在a 設定圖片大小 */
    /* 直接在img設大小 a下方都會多一小塊? */
    width: 280px;
    height: 200px;

    position: relative;
}

.act_category img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.act_category .overlap{
    background-color: #000;
    opacity: .2;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all .5s;
    border-radius: 6px;
    
}

.act_category .overlap:hover{
    background-color: #fff;
    opacity: .1;
}

/*====================== 近期推薦 ======================*/

/* 有時間再加 左右切換箭頭 */
.act_ad{
    margin-top: 60px;
}

.act_ad img{
    width: 100%;
}

/*====================== 想去哪裡玩 ======================*/

.act_area{
    margin-top: 60px;
}

.act_area ul{
    display: flex;
    height: 330px;
    justify-content: space-between;
    
}

.act_area li{
    background-size: cover;
    background-position: 50%;
    transition: .5s; 
    border-radius: 6px;
    
}

.act_area li:not(:last-child){
    margin-right: 20px;
}

.act_area .area1{
    background-image: url("https://image.kkday.com/v2/image/get/w_628%2Ch_472%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/campaign_863/20191219025154_amcag/jpg");
    flex-grow: 1;
}

.act_area .area2{
    background-image: url("https://image.kkday.com/v2/image/get/w_628%2Ch_472%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/campaign_1345/20210422064112_MCmWw/jpg");
    flex-grow: 1;
}

.act_area .area3{
    background-image: url("https://image.kkday.com/v2/image/get/w_628%2Ch_472%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/campaign_863/20191218101443_PtbPO/jpg");
    flex-grow: 1;
}

.act_area .area4{
    background-image: url("https://image.kkday.com/v2/image/get/w_628%2Ch_472%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/campaign_1345/20210422100733_QrLfQ/jpg");
    flex-grow: 1;
}

.act_area .area5{
    background-image: url("https://image.kkday.com/v2/image/get/w_628%2Ch_472%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/campaign_1345/20210426065849_WTWIk/jpg");
    flex-grow: 1;
}

.act_area li:hover{
    flex-grow: 3;
}

.act_area a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.act_area h4{
    font-size: 2.2rem;
    font-weight: 700;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 15px 10px;
    z-index: 1;
}

.act_area .overlap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all .8s;
    background-image:linear-gradient(transparent 60%,rgba(0,0,0,.85));
    border-radius: 6px;
    
}

.act_area .overlap:hover{
    background-color: #fff;
    opacity: .1;
    /* background-image:linear-gradient(transparent 60%,rgba(255, 255, 255, 0.2)); */
}

/*====================== 熱門商品 ======================*/

.act_rank{
    margin-top: 60px;
}
.act_rank h2{}

.act_rank ul{
    /* outline: 1px solid; */
    display: flex;
    justify-content: space-between;
}


.act_rank a{
    display: block;
    width: 284px;
}

.product_img{
    height: 160px;
    background-size: cover;
    background-position: center center;
    border-radius: 6px 6px 0 0;

    position: relative;
}

.product_img .overlap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all .8s;
    background-color: #000;
    opacity: .1;
    /* 會閃? */
    /* background-image:linear-gradient(transparent 60%,rgba(0,0,0,.35)); */
    border-radius: 6px 6px 0 0;
}

/* 會閃? */
.product_img .overlap:hover{
    background-color: #fff;
    opacity: .15;
}

.img1{
    background-image: url("https://image.kkday.com/v2/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_101517/20220113021116_z1ha0/jpg");
}

.img2{
    background-image: url("https://image.kkday.com/v2/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_19796/20180820034205_uFYr6/jpg");
}

.img3{
    background-image: url("https://image.kkday.com/v2/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_100569/20200529080004_TKa2Y/jpg");
}

.img4{
    background-image: url("https://image.kkday.com/v2/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_18440/20211231130438_YbGwt/jpg");
}

.product_detail{
    padding: 4px 10px 15px 10px;
    border-radius: 0 0 6px 6px;
    border: 1px solid rgb(212, 212, 212);
}

.product_detail h3{
    font-size: 1.6rem;
    padding-left: 5px;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
    letter-spacing: .15rem;

}

.product_detail .product_place{
    color: #666;
    font-size: 1.2rem;
}

.product_place i{
    width: 20px;
    color: #ccc;
    text-align: center;
    font-size: 1.2rem;
    margin-right: 2px;
}


.product_detail .product_footer{
    display: flex;
    justify-content: space-between;
}

.product_footer .product_star{
    font-size: 1.2rem;
    color: #999;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.product_star i{
    width: 20px;
    text-align: center;
    color: #26bec9;
    margin-right: 2px;
}

.product_footer .product_price{}

.product_price h4{
    font-size: 1.8rem;
    font-weight: bold;
}


/*====================== footer ======================*/

footer{
    background-color: rgb(42, 42, 46);
    margin-top: 100px;
}

.footer p{
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(155, 155, 155);
    margin-bottom: 10px;
    letter-spacing: .5px;
}

.footer ul a{
    color: #f4f4f4;
    font-weight: 400;
    transition: all .25s;
    letter-spacing: .5px;
}

.footer ul a:hover{
    opacity: .5;
}

.footer > ul{
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0 64px 0;
    border-bottom: 1px solid rgb(83, 83, 83);
}


.copyright{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.copyright p{
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: 0;
}

.copyright ul{
    display: flex;
}

.copyright li{}

.copyright a{
    padding: 0 8px;
}

.copyright i{
    font-size: 1.4rem;
    
}
